driver
addr_server
portbind
comptest*
opc.h
opcodes.h
y.tab.c
GNUmakefile
cc.h
configuration
edit_source
efun_defs.c
efun_protos.h
efunctions.h
func_spec.cpp
grammar.tab.c
grammar.tab.h
grammar.y
dtrace_compile
